{% extends 'user/user_base.html' %}
{% load static  %}
{% block content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        {% if messages %}
<script>
alert("{{ messages }}")
</script>
{% endif %}
      <div class="container">
        <div class="row">
          <div class="col-md-7 offset-md-2">
            <div class="header-text caption">
                <h2>SERVICES</h2>
              <button STYLE="height: 80px;width: 200px"><a href="ViewHealthTips" >HEALTH TIPS</a></button>          <button STYLE="height: 80px;width: 200px"><a href="viewFoods">VIEW FOODS</a></button>


              <div id="search-section">

               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h4>TRUSTED BY 1,250+ HAPPY CUSTOMERS WORLDWIDE</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-trusted owl-carousel">
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 2">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 4">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 5">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 6">
              </div>
              <div class="trusted-item">
                <img src="{% static 'assets/images/trusted-01.png' %}" alt="trusted 7">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
             <img style="width: 100%;height: 100%" src="{% static 'assets/images/Government_of_Kerala_Logo.svg.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <div class="service-item">
             <img style="width: 65%;height: 65%" src="{% static 'assets/images/anganwadi-rular-indian-school-sketch-260nw-1183280557.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

               <div class="service-item">
             <img style="width: 95%;height: 95%" src="{% static 'assets/images/images.jfif' %}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->




{% endblock %}